*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(87, 90, 89);
}

.heading_style{
  padding: 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: darkmagenta;
  background-color: antiquewhite;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards{
  width: 100%;
  height: auto;
}

.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885 , 0 ,1);
  background-color: antiquewhite;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0, 0.1);
  float: left;
}

.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
  transform: scale(1.05 , 1.05);

}

.card__img{
  width: 100%;
  height: 235px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  
}
.card__info{
  background-color: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
  color: #868686;
}
.card__category{
  font-family: "Relay",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 550;
  color: black;
  background-color:#fff;
}
.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Relay",sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button{
  padding: 5px 8px;
  font-family: "Relay",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2 px;
  font-weight: 500;
  color:#868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black ;
  cursor: pointer;
}


 /* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.card {
  width: 100%;
  height: auto;
}

.card {
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.card__img {
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}

.card__category {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
  text-transform: capitalize;
}

button {
  padding: 5px 8px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
} */